/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Import font end */

/* imported font style start */
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Imported font style end */

  /* shared styles start */
main > section{
  margin: 130px 0;
}


.display-flex{
    display: flex;
}

.bg-light
    {
        background-color: #ecf0c6;
    }

.btn-primary{
    background-color: #f9a826;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-weight: 600px;
    font-size: 1.25rem;
}
/* Shared styles end */

/* Navbar style start */
.brand{
    font-weight: 700px;
    font-size: 2rem;
}

  .navbar{
    display: flex;
  }


  .navbar{
    justify-content: space-between;
    align-items: center;
    
  }

  .nav-item{
    list-style: none;
    margin-right: 30px;
  }

  .nav-link{
    text-decoration: none;
    color: black;
  }
/* Navbar styles end */

/* Banner styles start */

.banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;

}

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;

}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-img{
  width: 100%;
  height: auto;
}

/* Responsive */

@media screen and (max-width: 576px){
  .navbar,
  .nav-link,
  .teams{
    flex-direction: column;
    }
  
}
@media  screen and (max-width: 576px){
  .team-img-container, .fact-container, .sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  
}



 /* Banner styles end */

 /* Team and features related styles start */

 .features-title{
  font-weight: 700;
  font-size: 2.5rem;
 }

 .teams{
  align-items: center;
 }

 .team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
 }

 .our-features{
  margin-left: 100px;
  max-width: 530px;
  
 }

 /* Features section style start */

 .features{
  display: flex;
  gap: 140px;
 }

 #feature-section-title{
  border-left: 5px solid #f9a826;
  padding-left: 21px;
 }

 .feature-card-container .features-title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
 }
 .feature-card-container{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(238, 237, 237, 0.923);
  margin-bottom: 20px;
  border-radius: 8px;
 }
 /* Features section style end */

 /* Team and features related styles end */

 .fact-number{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
 }

 .fact-name{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
 }

 .fact-card{
  border: 1px solid #f9a826;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
 }
 .fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 }
 .fact-description{
  max-width: 540px;
 }

 /* Sponsor related styles */
 .sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
 }
 .sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
 }

 .sponsor-companies img{
  filter: grayscale(100%);
 }
